%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{app_bin, ["priv/rebar"]}.
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{deps_dir, ["deps"]}.

{deps, [ 
    {pb2utils, ".*", {git, "git@git.assembla.com:phonebooth.10.git", "HEAD"}},
    {ibrowse, "2.2.0", {git, "git@git.assembla.com:phonebooth.18.git", "HEAD"}}, 
    {gen_bunny, "0.1", {git, "git@github.com:Phonebooth/gen_bunny.git", "gen_bunny_0_1"}}
    ]}.

{lib_dirs, ["libs"]}.

{sub_dirs, ["apps/c2dm", "rel"]}.
